@import "../node_modules/yet-another-react-lightbox/dist/styles.css";
@import "../node_modules/yet-another-react-lightbox/dist/plugins/thumbnails/thumbnails.css";

/* https://youtu.be/nOQyWbPO2Ds?t=348
https://yet-another-react-lightbox.com/customization */

/* :root {
  --foreground-rgb: 255, 0, 0;
} */

.yarl__root {
  --yarl__color_backdrop: theme(colors.gray.900);
}

.inline.yarl__root {
  --yarl__color_backdrop: theme(colors.gray.100);
  /* shadow::: theme(boxShadow.lg) */
}
