.yarl__root {
  --yarl__color_backdrop: theme(colors.white);
  --yarl__navigation_button_padding: theme(padding.4);
  --yarl__color_button: theme(colors.black);
  --yarl__button_filter: "none";
}
.inline.yarl__root {
  --yarl__color_backdrop: theme(colors.transparent);
  --yarl__button_background_color: theme(colors.white);
  --yarl__thumbnails_thumbnail_background: theme(colors.gray.300);
}

@media (prefers-color-scheme: dark) {
  .yarl__root {
    --yarl__color_backdrop: theme(colors.gray.900);
    --yarl__color_button: theme(colors.white);
  }
  .inline.yarl__root {
    --yarl__button_background_color: theme(colors.gray.900);
    --yarl__thumbnails_thumbnail_background: theme(colors.gray.700);
  }
}

.modal .yarl__navigation_prev,
.modal .yarl__navigation_next {
  @apply bg-white dark:bg-gray-900;
}
.modal .yarl__toolbar .yarl__button {
  @apply hover:text-gray-400 dark:hover:text-gray-300;
}

.inline .yarl__slide {
  padding-top: theme(padding.0);
}

.yarl__navigation_prev,
.yarl__navigation_next {
  @apply rounded-full transition-colors duration-300 hover:bg-black dark:hover:bg-gray-200 dark:hover:text-gray-900;
}
.yarl__navigation_prev {
  @apply ml-2;
}
.yarl__navigation_next {
  @apply mr-2;
}

.inline .yarl__thumbnails_thumbnail {
  @apply border-transparent;
}
.inline .yarl__thumbnails_thumbnail_active {
  @apply border-gray-500 dark:border-gray-300;
}
